* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Georgia';
    src: url(../assets/fonts/NotoSerifGeorgian-VariableFont_wdth\,wght.ttf);
}

.selected a{
    font-weight: bold;
}

body{
    background: #232323;
    font-family: 'Georgia';
    color: #f7f6f6;
    position: relative;
    padding-bottom: 120px;
    min-height: 100vh;
}
p{
    font-size: 18px;
}
/* Navbar */
.logo{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-left: 10px;
    font-size: 30px;
    line-height: inherit;
    white-space: nowrap;
}

.logo a{
    font-family: 'Georgia';
    color: #f7f6f6;
    text-decoration: none;
    font-weight: bold;
}

h5{
    color: #f7f6f6;
   
   }
.offcanvas{
       background-color: black;
}
.offcanvas-body{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
}
.opciones{
    display: flex;
    justify-content: center;
}

.titulo{
    font-size: 30px;
    margin:30px;
}

section.main{
    margin-bottom:100px;  
}

.text-home {
    overflow: hidden;
    padding: 20px;
}

.text-img {
    padding: 20px;
}

.text-img img{
    border-radius: 20px;
}

.button-black{
    background-color: black;
    color: #f7f6f6;
}
 .container-fluid,section{
    padding: 20px;
 }
/* Footer */
.pie-pagina {
    position: absolute;
    background: black;
    bottom: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pie-pagina div.info {
    flex: 1;
    font-size: 13px;
    text-align: center;
}

.pie-pagina div.icons a{
    margin: 5px;
}

@media screen and (max-width:1199px) {
     .pie-pagina {
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    } 
}