* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Georgia';
    src: url(../assets/fonts/NotoSerifGeorgian-VariableFont_wdth\,wght.ttf);
}

.selected a{
    font-weight: bold;
}

body{
    background: #232323;
    font-family: 'Georgia';
    color: #f7f6f6;
    position: relative;
    padding-bottom: 60px;
    min-height: 100vh;
}

.cabecera{
    background:black ;
    font-family: 'Georgia';
    color: #f7f6f6;
}

.cabecera .logo{
    margin-left: 50px;
    position: relative;
    top: 30px;
}

nav {
    position: relative;
    bottom: 20px;
    left: 800px;
    width: 600px;
}
.logo a {
    text-decoration: none;
    color: #f7f6f6;
}
.menu {
    display: inline-block;
    position: relative;
    /* left: 700px; */
    padding: 20px;
}

.menu li {
    display: inline;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    
}

.menu li:hover{
    text-underline-offset: 8px;
    text-decoration: underline; 
}

.menu li a {
    text-decoration: none;
    font-size: 18px;
    color: #f7f6f6;
}
.titulo{
    font-size: 30px;
    margin:50px;
}

section.main{
    margin:10px;  
    display: flex; 
    /* flex-direction: column; *//* Si comento esto se rompe el index y las paginas no estilizadas se normalizan alguna usaran bootstrap otras flex parcialmente se arreglaria si pongo flex direction:column a los items solucionar mañana adios agustin de las 2am*/
}

.text-home {
    padding: 20px;
    margin-left: 20px;
}

.text-img {
    margin-right: 20px; 
    padding: 20px;
}

.text-img img{
    width: 1000px;
    height: 700px;
    border-radius: 20px;
}
section.galery{
    text-align: center;
    margin: 20px;
}
.g-img {
  width: 45%;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.g-img img {
    max-width: 800px;
    max-height: 500px;
}
     
.pie-pagina {
    position: absolute;
    background: black;
    bottom: 0;
    width: 100%;
    padding: 20px;
    
    
}
.pie-pagina div.info {
    font-size: 12px;
    text-align: center;
}
.pie-pagina div.icons{
    position: absolute;
    top: 20px;
    right: 20px;
}

.pie-pagina div.icons a{
    margin: 5px;
}
