* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Georgia';
    src: url(../assets/fonts/NotoSerifGeorgian-VariableFont_wdth\,wght.ttf);
}

.selected a{
    font-weight: bold;
}

body{
    background: #232323;
    font-family: 'Georgia';
    color: #f7f6f6;
    position: relative;
    padding-bottom: 60px;
    min-height: 100vh;
}

.cabecera{
    background:black ;
    font-family: 'Georgia';
    color: #f7f6f6;
}

.cabecera .logo{
    margin-left: 30px;
    position: relative;
    top: 30px;
}

nav {
    position: relative;
    bottom: 20px;
    left: 800px;
    width: 600px;
}
.logo a {
    text-decoration: none;
    color: #f7f6f6;
}
.menu {
    display: inline-block;
    position: relative;
    /* left: 700px; */
    padding: 20px;
}

.menu li {
    display: inline;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    
}

.menu li:hover{
    text-underline-offset: 8px;
    text-decoration: underline; 
}

.menu li a {
    text-decoration: none;
    font-size: 18px;
    color: #f7f6f6;
}
.titulo{
    font-size: 30px;
    margin:30px;
}

section.main{
    margin:10px;  
}

.text-home {
    padding: 20px;
}

.text-img {
    padding: 20px;
}

.text-img img{
    border-radius: 20px;
}

section.galery{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.carousel {
    width: 1200px; /* Ajusta el ancho deseado */
    height: 600px; /* Ajusta la altura deseada */
  }

  .carousel-item img {
    width: 100%; /* Ajusta el ancho deseado */
    height: auto; /* Mantiene la proporción de aspecto */
  }
  

/* .g-img {
  width:100% ;
  margin: 10px;
  text-align: center;
}

.g-img img {
    max-width: 800px;
    max-height: 500px;
} */
     
.pie-pagina {
    position: absolute;
    background: black;
    bottom: 0;
    width: 100%;
    padding: 20px;
    
    
}
.pie-pagina div.info {
    font-size: 12px;
    text-align: center;
}
.pie-pagina div.icons{
    position: absolute;
    top: 20px;
    right: 20px;
}

.pie-pagina div.icons a{
    margin: 5px;
}

@media screen and (max-width:600px) {
    
    /* section.main{
        display: flex;
        flex-direction: column-reverse;
    } */
}