<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witcher Page - Bestiario
    </title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-black">
        <div class="container-fluid">

            <h1 class="logo"><a href="../index.html">Witcher of Blaviken</a></h1>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

          <div class="offcanvas offcanvas-start" id="menu" tabindex="-1">
            <div class="offcanvas-header" data-bs-theme="dark">
                <h5>Witcher of Blaviken</h5>
                <button class="btn-close" type="button" aria-label="close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav opciones">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../views/personajes.html">Personajes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../views/bestiario.html">Bestiario</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../views/videojuegos.html">Videojuegos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="../views/contacto.html">Contacto</a>
                    </li>
                  </ul>
            </div>     
          </div>
        </div>
      </nav>
    <h2 class="titulo">BESTIARIO</h2>
    <section class="main">
        <table>
            <thead>
                <tr>
                    <th>MONSTRUO</th>
                    <th>TIPO</th>
                    <th>DEBILIDADES</th>
                    <th>RESISTENCIAS</th>
                    <th>HABITAT</th>
                    <th>FOTO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ghoul</td>
                    <td>Necrófago</td>
                    <td>Plata,AC para Necrófago</td>
                    <td>Venenos</td>
                    <td>Cementerios, campos de batalla</td>
                    <td><img src="../assets/media/ghoul.jpg" alt=""></td>
                </tr>
                <tr>
                    <td>Grifo</td>
                    <td>Hibrido</td>
                    <td>Aard,bomba colmena,AC* Hibridos</td>
                    <td>Fuego,veneno</td>
                    <td>Desiertos</td>
                    <td><img src="../assets/media/grifo.jpg" alt=""></td>
                </tr>
                <tr>
                    <td>Nekker</td>
                    <td>Ogroide</td>
                    <td>Plata,Fuego</td>
                    <td>Magia,fisico</td>
                    <td>Bosques</td>
                    <td><img src="../assets/media/nekker.jpg" alt=""></td>
                </tr>
                <tr>
                    <td>Leshen</td>
                    <td>Relicto</td>
                    <td>Señal de Igni,bomba de dimerita</td>
                    <td>Señal de Axia</td>
                    <td>Bosques</td>
                    <td><img src="../assets/media/leshen.jpg" alt=""></td>
                </tr>
                <tr>
                    <td>Basilisco</td>
                    <td>Draconido</td>
                    <td>Plata</td>
                    <td>Venenos</td>
                    <td>Cavernas y canales abandonados</td>
                    <td><img src="../assets/media/basilisco.jpg" alt=""></td>
                </tr>
            </tbody>
        </table>
        <p>Referencias:AC: Aceite</p>
    </section>
    <footer class="pie-pagina">
        <div class="info">
            <p>MiniFanpage sin fines de lucro <br>
            Agustin Pasi Fabiani.
            </p>
        </div>
        <div class="icons">
            <a href="https://twitter.com/witchergame" target="_blank"><img src="../assets/media/twitter.png" alt="twitter"></a>
            <a href="https://www.youtube.com/thewitcher" target="_blank"><img src="../assets/media/youtube.png" alt="youtube" ></a>
            <a href="https://www.facebook.com/ESthewitcher/?brand_redir=9659019330" target="_blank"><img src="../assets/media/facebook.png" alt="facebook"></a>
    </div>
</footer>
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
</body>
</html>