<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witcher Page - Contacto
    </title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="cabecera">
     <h1 class="logo"><a href="../index.html">Witcher of Blaviken</a></h1>
     <nav>
        <ul class="menu">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./personajes.html">Personajes</a></li>
            <li><a href="./bestiario.html">Bestiario</a></li>
            <li><a href="./videojuegos.html">Videojuegos</a></li>
            <li><span class="selected"><a href="./contacto.html">Contacto</a></span></li>
         </ul>
     </nav>
    </header>
    <h2 class="titulo">CONTACTO</h2>
    <section class="main">
        <div><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio voluptate eligendi illum, rem tenetur, sunt magnam iure soluta totam dolore eius perspiciatis impedit incidunt atque, magni consectetur. Error, inventore necessitatibus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum ullam consequuntur, perferendis omnis modi dolores soluta voluptate inventore saepe obcaecati eius aliquid eos provident quidem distinctio blanditiis ad odio et.m
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem possimus distinctio, facilis omnis pariatur enim alias quod nihilsed consequuntur eum sint dicta, nesciunt hic maiores vel molestias doloribus nostrum!
        </p></div>
        <form action="#">
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre">
            </div>
            <div>
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido">
            </div>
            <div>
                <label for="email">Mail</label>
                <input type="text" name="email" id="email">
            </div>
            <div>
                <label for="coment">Comentario</label>
                <textarea name="coment" id="coment" cols="30" rows="10"></textarea>
            </div>
            <div>
                <input type="submit" value="Enviar">
                <!-- <button type="submit">Enviar</button> -->
                <input type="reset" value="Cancelar">
            </div>
        </form>
    </section>

    <footer class="pie-pagina">
        <div class="info">
            <p>MiniFanpage sin fines de lucro <br>
            Agustin Pasi Fabiani.
            </p>
        </div>
        <div class="icons">
            <a href="https://twitter.com/witchergame" target="_blank"><img src="../assets/media/twitter.png" alt="twitter"></a>
            <a href="https://www.youtube.com/thewitcher" target="_blank"><img src="../assets/media/youtube.png" alt="youtube" ></a>
            <a href="https://www.facebook.com/ESthewitcher/?brand_redir=9659019330" target="_blank"><img src="../assets/media/facebook.png" alt="facebook"></a>
        </div>
    </footer>
</body>
</html>