<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witcher Page - Personajes
    </title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="cabecera">
     <h1 class="logo"><a href="../index.html">Witcher of Blaviken</a></h1>
     <nav>
        <ul class="menu">
            <li><a href="../index.html">Home</a></li>
            <li><span class="selected"><a href="./personajes.html">Personajes</a></span></li>
            <li><a href="./bestiario.html">Bestiario</a></li>
            <li><a href="./videojuegos.html">Videojuegos</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
         </ul>
     </nav>
    </header>
    <h2 class="titulo">PERSONAJES</h2>
    <section class="main">
        <!-- Imagen con contorno blanco en forma de tarjeta con texto debajo y boton de ver mas -->
        <div class="tarjeta">
           <img style="height: 450px;  width:450px;" src="../assets/media/geralt.jpg" alt="">
           <h5>Geralt de Rivia</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere eaque, ab reiciendis sit illo dignissimos rem fuga voluptatum maxime nulla repudiandae nihil laudantium eos. Inventore, quaerat. Perspiciatis nesciunt repudiandae illum.</p>
            <button><a href="#">Ver Mas</a></button>
        </div>
        <div class="tarjeta">
            <img style="height: 450px;  width:450px;" src="../assets/media/ciri.jpg" alt="">
            <h5>Ciri</h5>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere eaque, ab reiciendis sit illo dignissimos rem fuga voluptatum maxime nulla repudiandae nihil laudantium eos. Inventore, quaerat. Perspiciatis nesciunt repudiandae illum.</p>
             <button><a href="#">Ver Mas</a></button>
         </div>
         <div class="tarjeta">
            <img style="height: 450px;  width:450px;" src="../assets/media/yennefer.jpg" alt="">
            <h5>Yennefer de Vengerberg</h5>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere eaque, ab reiciendis sit illo dignissimos rem fuga voluptatum maxime nulla repudiandae nihil laudantium eos. Inventore, quaerat. Perspiciatis nesciunt repudiandae illum.</p>
             <button><a href="#">Ver Mas</a></button>
         </div>
         <div class="tarjeta">
            <img style="height: 450px;  width:450px;" src="../assets/media/triss.jpg" alt="">
            <h5>Triss Merigold</h5>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere eaque, ab reiciendis sit illo dignissimos rem fuga voluptatum maxime nulla repudiandae nihil laudantium eos. Inventore, quaerat. Perspiciatis nesciunt repudiandae illum.</p>
             <button><a href="#">Ver Mas</a></button>
         </div>
         <div class="tarjeta">
            <img style="height: 450px;  width:450px;" src="../assets/media/jaskier.jpg" alt="">
            <h5>Jaskier</h5>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere eaque, ab reiciendis sit illo dignissimos rem fuga voluptatum maxime nulla repudiandae nihil laudantium eos. Inventore, quaerat. Perspiciatis nesciunt repudiandae illum.</p>
             <button><a href="#">Ver Mas</a></button>
         </div>
    </section>
    <footer class="pie-pagina">
        <div class="info">
            <p>MiniFanpage sin fines de lucro <br>
            Agustin Pasi Fabiani.
            </p>
        </div>
        <div class="icons">
            <a href="https://twitter.com/witchergame" target="_blank"><img src="../assets/media/twitter.png" alt="twitter"></a>
            <a href="https://www.youtube.com/thewitcher" target="_blank"><img src="../assets/media/youtube.png" alt="youtube" ></a>
            <a href="https://www.facebook.com/ESthewitcher/?brand_redir=9659019330" target="_blank"><img src="../assets/media/facebook.png" alt="facebook"></a>
        </div>
    </footer>
</body>
</html>