<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witcher Page - Personajes
    </title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-black">
        <div class="container-fluid">

            <h1 class="logo"><a href="../index.html">Witcher of Blaviken</a></h1>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

          <div class="offcanvas offcanvas-start" id="menu" tabindex="-1">
            <div class="offcanvas-header" data-bs-theme="dark">
                <h5>Witcher of Blaviken</h5>
                <button class="btn-close" type="button" aria-label="close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav opciones">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="../views/personajes.html">Personajes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../views/bestiario.html">Bestiario</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../views/videojuegos.html">Videojuegos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../views/contacto.html">Contacto</a>
                    </li>
                  </ul>
            </div>     
          </div>
        </div>
      </nav>
    <h2 class="titulo">PERSONAJES</h2>
    <section class="main">
        <div class="tarjeta">
          <div class="contenedor-img">
           <img style="height: 450px;  width:450px;" src="../assets/media/geralt.jpg" alt="">
          </div>
           <h5>Geralt de Rivia</h5>
            <p>Conocido como el "Lobo Blanco", entre otros apodos, Geralt de Rivia es un personaje icónico de la saga de videojuegos The Witcher. Renombrado por su destreza en la caza de monstruos y sus habilidades como brujo, Geralt se adentra en un mundo peligroso y lleno de decisiones difíciles. Con su carisma magnético, espadas afiladas y moral ambigua, se convierte en un protagonista inolvidable y emblemático de la franquicia.</p>
            <button type="button" class="btn button-white mt-auto">Ver Mas</button>
        </div>
        <div class="tarjeta">
          <div class="contenedor-img">
            <img style="height: 450px;  width:450px;" src="../assets/media/ciri.jpg" alt="">
          </div>
            <h5>Ciri</h5>
             <p>También conocida como Cirilla Fiona Elen Riannon, es un personaje fundamental en la saga de videojuegos The Witcher. Hija adoptiva de Geralt, posee un poderoso linaje de sangre antigua y habilidades sobrenaturales. Ciri es valiente y determinada, enfrentando numerosos desafíos en su búsqueda de su lugar en el mundo. Su papel clave en la historia y su destino trascendental la convierten en una figura inolvidable y una fuerza a tener en cuenta en el universo de The Witcher.</p>
             <button type="button" class="btn button-white mt-auto">Ver Mas</button>
         </div>
         <div class="tarjeta">
           <div class="contenedor-img">
           <img style="height: 450px;  width:450px;" src="../assets/media/yennefer.jpg" alt="">
          </div>
            <h5>Yennefer de Vengerberg</h5>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere eaque, ab reiciendis sit illo dignissimos rem fuga voluptatum maxime nulla repudiandae nihil laudantium eos. Inventore, quaerat. Perspiciatis nesciunt repudiandae illum.</p>
             <button type="button" class="btn button-white mt-auto">Ver Mas</button>
         </div>
         <div class="tarjeta">
          <div class="contenedor-img">
            <img style="height: 450px;  width:450px;" src="../assets/media/triss.jpg" alt="">
          </div>
            <h5>Triss Merigold</h5>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere eaque, ab reiciendis sit illo dignissimos rem fuga voluptatum maxime nulla repudiandae nihil laudantium eos. Inventore, quaerat. Perspiciatis nesciunt repudiandae illum.</p>
             <button type="button" class="btn button-white mt-auto">Ver Mas</button>
         </div>
         <div class="tarjeta">
          <div class="contenedor-img">
            <img style="height: 450px;  width:450px;" src="../assets/media/jaskier.jpg" alt="">
          </div>
            <h5>Jaskier</h5>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere eaque, ab reiciendis sit illo dignissimos rem fuga voluptatum maxime nulla repudiandae nihil laudantium eos. Inventore, quaerat. Perspiciatis nesciunt repudiandae illum.</p>
             <button type="button" class="btn button-white mt-auto">Ver Mas</button>
         </div>
         <div class="tarjeta">
          <div class="contenedor-img">
          <img style="height: 450px;  width:450px;" src="../assets/media/eredin.jpg" alt="">
        </div>
          <h5>Eredin Bréacc Glass</h5>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere eaque, ab reiciendis sit illo dignissimos rem fuga voluptatum maxime nulla repudiandae nihil laudantium eos. Inventore, quaerat. Perspiciatis nesciunt repudiandae illum.</p>
           <button type="button" class="btn button-white mt-auto">Ver Mas</button>
       </div>
    </section>
    <footer class="pie-pagina">
        <div class="info">
            <p>MiniFanpage sin fines de lucro <br>
            Agustin Pasi Fabiani.
            </p>
        </div>
        <div class="icons">
            <a href="https://twitter.com/witchergame" target="_blank"><img src="../assets/media/twitter.png" alt="twitter"></a>
            <a href="https://www.youtube.com/thewitcher" target="_blank"><img src="../assets/media/youtube.png" alt="youtube" ></a>
            <a href="https://www.facebook.com/ESthewitcher/?brand_redir=9659019330" target="_blank"><img src="../assets/media/facebook.png" alt="facebook"></a>
    </div>
</footer>
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
</body>
</html>