<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina de personajes de la saga de The Witcher">
    <meta name="keywords"  content="Geralt,Triss,Yennefer,Vesemir,Jaskier,Lambert,Eskel,Ciri,personajes,witcher">
    <title>Witcher Page - Personajes
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-black">
        <div class="container-fluid">

            <h1 class="logo"><a href="../index.html">Witcher of Blaviken</a></h1>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

          <div class="offcanvas offcanvas-start" id="menu" tabindex="-1">
            <div class="offcanvas-header" data-bs-theme="dark">
                <h5>Witcher of Blaviken</h5>
                <button class="btn-close" type="button" aria-label="close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav opciones">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="../views/personajes.html">Personajes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../views/bestiario.html">Bestiario</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../views/videojuegos.html">Videojuegos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../views/contacto.html">Contacto</a>
                    </li>
                  </ul>
            </div>     
          </div>
        </div>
      </nav>
    <h2 class="titulo">PERSONAJES</h2>
    <section class="main">
        <div class="tarjeta" data-aos="fade-up">
          <div class="contenedor-img">
           <img style="height: 450px;  width:450px;" src="../assets/media/geralt.jpg" alt="Geralt de Rivia">
          </div>
           <h5>Geralt de Rivia</h5>
            <p>Conocido como el "Lobo Blanco", entre otros apodos, Geralt de Rivia es un personaje icónico de la saga de videojuegos The Witcher. Renombrado por su destreza en la caza de monstruos y sus habilidades como brujo, Geralt se adentra en un mundo peligroso y lleno de decisiones difíciles. Con su carisma magnético, espadas afiladas y moral ambigua, se convierte en un protagonista inolvidable y emblemático de la franquicia.</p>
            <button type="button" class="button-white mt-auto">Ver Mas</button>
        </div>
        <div class="tarjeta" data-aos="fade-up">
          <div class="contenedor-img">
            <img style="height: 450px;  width:450px;" src="../assets/media/ciri.jpg" alt="Ciri">
          </div>
            <h5>Ciri</h5>
             <p>También conocida como la Niña de la Profecía, Ciri es descrita generalmente como un arma con el potencial de destruir el mismo mundo en el que habita. Además, se establece una conexión con su pasado como aprendiz de Geralt cuando era más joven. Su entrenamiento como bruja, combinado con sus habilidades mágicas, la convierten en una de las personas más poderosas del mundo.</p>
             <button type="button" class="button-white mt-auto">Ver Mas</button>
         </div>
         <div class="tarjeta">
           <div class="contenedor-img" data-aos="fade-up">
           <img style="height: 450px;  width:450px;" src="../assets/media/yennefer.jpg" alt="Yennefer">
          </div>
            <h5>Yennefer de Vengerberg</h5>
             <p>
              Yennefer de Vengerberg
              fue una hechicera que vivió en Vengerberg, la capital de Aedirn. Era el verdadero amor de Geralt de Rivia y una figura materna para Ciri, a quien veía como una hija hasta el punto en que hizo todo lo posible para rescatar a la niña y evitar que sufriera daños.</p>
              <button type="button" class="button-white mt-auto">Ver Mas</button>
         </div>
         <div class="tarjeta" data-aos="fade-up">
          <div class="contenedor-img">
            <img style="height: 450px;  width:450px;" src="../assets/media/triss.jpg" alt="Triss">
          </div>
            <h5>Triss Merigold</h5>
             <p>Triss Merigold de Maribor fue una legendaria hechicera temeria.
              Miembro del Consejo Real del Rey Foltest junto con Fercart y Keira Metz, además de una de las miembros fundadoras de la Logia de Hechiceras, Triss estuvo involucrada en la política la mayor parte de su vida.
             </p>
             <button type="button" class="button-white mt-auto">Ver Mas</button>
         </div>
         <div class="tarjeta" data-aos="fade-up">
          <div class="contenedor-img">
            <img style="height: 450px;  width:450px;" src="../assets/media/jaskier.jpg" alt="Jaskier">
          </div>
            <h5>Jaskier</h5>
             <p>Es uno de los amigos más cercanos de Geralt y ha viajado con el Brujo en varias ocasiones, a veces acompañados por el tercer miembro de su grupo, Zoltan. Aunque el bardo piensa muy bien del Brujo, rara vez lo expresa en público, principalmente debido al hecho de que él mismo es un hombre de reputación peculiar y teme que su asociación con el famoso cazador de monstruos le acarree el odio y el desprecio de poderosos individuos y del público en general.</p>
             <button type="button" class="button-white mt-auto">Ver Mas</button>
         </div>
         <div class="tarjeta" data-aos="fade-up">
          <div class="contenedor-img">
          <img style="height: 450px;  width:450px;" src="../assets/media/vesemir.jpg" alt="Vesemir">
        </div>
          <h5>Vesemir</h5>
           <p>Es el más antiguo de los brujos, uno de los pocos mentores y maestros sobrevivientes. Aunque es un veterano y hombre sabio, era solo un instructor de combate y, como tal, no sabía cómo crear los mutágenos necesarios para convertir a más niños en brujos.</p>
           <button type="button" class="button-white mt-auto">Ver Mas</button>
       </div>
       <div class="tarjeta" data-aos="fade-up">
        <div class="contenedor-img">
         <img style="height: 450px;  width:450px;" src="../assets/media/eskel.jpg" alt="Eskel">
        </div>
         <h5>Eskel</h5>
          <p>Eskel, parte de la Escuela del Lobo junto a Geralt, destaca por su lealtad y habilidades en el combate. Sereno y reflexivo, es un brujo formidable con destreza en la espada y magia. Su amistad con Geralt es inquebrantable, compartiendo emocionantes aventuras y protegiendo a los inocentes con dedicación. Un guardián valiente en la lucha contra monstruos, Eskel deja una huella imborrable en quienes lo conocen.</p>
          <button type="button" class="button-white mt-auto">Ver Mas</button>
      </div>
      <div class="tarjeta" data-aos="fade-up">
        <div class="contenedor-img">
          <img style="height: 450px;  width:450px;" src="../assets/media/lambert.jpg" alt="Lambert">
        </div>
          <h5>Lambert</h5>
           <p>Lambert, un brujo rebelde de la Escuela del Lobo, es conocido por su humor sarcástico y actitud irreverente. Experto en alquimia y combate, Lambert posee una personalidad directa que puede no ser del agrado de todos, pero es un aliado valioso en la lucha contra las criaturas de la oscuridad. Aunque a menudo se muestra escéptico y distante, su lealtad a Geralt y a la causa de los brujos es innegable. Detrás de su fachada áspera, se esconde un corazón comprometido con la protección del mundo de los hombres y su supervivencia ante las amenazas sobrenaturales.</p>
           <button type="button" class="button-white mt-auto">Ver Mas</button>
       </div>
    </section>
    <footer class="pie-pagina">
        <div class="info">
            <p>MiniFanpage sin fines de lucro <br>
            Agustin Pasi Fabiani.
            </p>
        </div>
        <div class="icons">
            <a href="https://twitter.com/witchergame" target="_blank"><img src="../assets/media/twitter.png" alt="twitter"></a>
            <a href="https://www.youtube.com/thewitcher" target="_blank"><img src="../assets/media/youtube.png" alt="youtube" ></a>
            <a href="https://www.facebook.com/ESthewitcher/?brand_redir=9659019330" target="_blank"><img src="../assets/media/facebook.png" alt="facebook"></a>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>